body{
    background-color: #99d9ea;
}
#webseite{
    width: 90%;
    margin:auto;
}
#web{
    display: table;
    width: 98%;
    margin: auto;
    }
#con{
    display: table-cell;
    width: 80%;
    text-align: center;
    vertical-align: middle ;
    font-size: 22px;
}
#fon{
    display: table-cell;
    width: 20%;
    position:absolute; 
    top:30px; 
    right:0px;
}
#inhalt{
    display: table;
    width: 98%;
    margin: auto;
    margin-top: 50px;
}
#in{
    display: table-row;
}
#style{
    display: table-cell;
    vertical-align: top;
    width: 50%;
    font-size: 16px;
    color: white;
}
#dis{
    display: table-cell;
}
#fun{
    display: table-row;
    margin-top: 50px;
}
#css1{
    display: table; 
    width: 98%; 
    margin: auto;
}
#css2{
    display: table-cell; 
    width: 80%; 
    text-align: center; 
    vertical-align: middle ; 
    font-size: 22px;
}
#css3{
    display: table-cell; 
    width: 20%;
}
#css4{
    display: table; 
    width: 98%; 
    margin: auto; 
    margin-top: 50px;
}
#css5{
    display: table-row;
}
#css6{
    display: table-cell; 
    vertical-align: top; 
    width: 50%;
    font-size: 16px;
    color: white;
}
#css7{
    display: table-cell;
}
#css8{
    display: table-row; 
    margin-top: 50px;
}
